<!DOCTYPE html>
<html>
<head>
  <title>Wifi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body background ="/4.jpg">

<%= yield %>

</body>
</html>
